body{
    margin:10px;
}

#banner{
    min-height: 70px;
    max-width: 400px;
    background-color:#990000;
}

#navigation{
    margin-top: 5px;
    margin-bottom:10px;
    color: #ffffff;
    text-transform:uppercase;
    font-weight:bold;
}

#navigation ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#navigation li{
    display:inline;
}

#navigation a:link,a:visited{
    color: #ffffff;
    background-color:#ff0000;
    text-decoration:none;
    padding:6px;
}

#navigation a:hover,a:active{
    background-color:#cc0000;
}

#navigation form{
    display: inline;
    background-color: #ff0000;
    padding: 6px;
}

#navigation label{
    margin-right: 4px;
}

#content{
    padding:6px;
}

#footer{
    
}
